# Gradle
.gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
.project
.classpath
.settings/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/*
.factorypath
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
